In [ ]:
import decorator

In [1]:
def deco(func):
    def inner():
        print("running inner()")
    return inner

In [7]:
@deco
def target():
    print('running target')

In [15]:
target()

running inner()

In [4]:
deco

In [10]:
promos = []
def promotion(func):
    promos.append(func)
    return func

In [12]:
@promotion
def a():
    print('a')

In [13]:
a()

a

In [14]:
print(promos)

[<function a at 0x7f20ca420f70>]

In [19]:
import sqlalchemy

In [64]:
import pickle
with open('./seven_stores.pkl','rb') as f:
    df = pickle.load(f)

In [65]:
df = df[~df['name'].duplicated()].copy()

In [66]:
tmp = set()
for x in df.able_services.values:
    tmp.update(x)

In [67]:
for service in tmp:
    df[service] = df.able_services.apply(lambda x : 1 if service in x else 0)

In [68]:
df.의약품.value_counts() / df.의약품.__len__()

의약품
0    0.611581
1    0.388419
Name: count, dtype: float64

In [69]:
df.drop(['able_services'], axis=1,inplace=True)

In [87]:
df.address.apply(lambda x : x.split()[0]).unique()

array(['강원도', '강원특별자치도', '강원', '경기도', '경기', '경기도김포시하성면하성로297',
       '경기도시흥시복지로', '경기도이천시부발읍', '경상남도', '경남', '경남창원시', '경상북도', '경북',
       '경상북도영주시광복로', '광주광역시', '광주', '광주동구제봉로222번길', '대구광역시', '대구', '대구남구',
       '대구시달서구월배로', '대구광역시달서구상인서로', '대구달서구', '대구광역시달서구달구벌대로', '대구시',
       '대구시달성군', '대전광역시', '대전', '대전시', '대전광영시', '대전광역시유성구대학로137번길',
       '부산광역시', '부산시', '부산', '서울특별시', '서울', '서울시', '서울특별실', '서울동대문구',
       '서울트별시', '주소', '서울특별시송파구송파대로345송파헬리오시티', '울산광역시', '울산', '인천광역시',
       '인천시', '인천', '전라남도', '전남', '전라북도', '전북', '전북특별자치도', '전라북도전주시',
       '제주특별자치도', '제주', '제주도', '제주특별자치도서귀포시', '제주특별시도', '충남', '충청남도',
       '충남논산시', '충청북도', '충북'], dtype=object)

In [133]:
df['sido'] = df.address.apply(lambda x : ''.join(x.split()[:2]))

In [134]:
import pandas as pd
pd.set_option('display.max_rows', 100)

In [147]:
sido_dict = {'경기':'경기도', '서울':'서울특별시',\
             '충청남도':'충청남도', '경상북도':'경상북도',\
                '인천':'인천광역시', '대구':'대구광역시','부산':'부산광역시',\
                    '광주':'광주광역시', '경남':'경상남도','경북':'경상북도','전남':'전라남도','충남':'충청남도','충북':'충청북도',\
                        '대전':'대전광역시','제주':'제주특별시','울산':'울산광역시','강원':'강원도', '전라북도':'전라북도','경상남도':'경상남도',\
                            '전북':'전라북도','충청북도':'충청북도','전라남도':'전라남도'}
for x in sido_dict:
    df.loc[df['sido'].str.find(x) > -1,'sido']= sido_dict[x]

In [171]:
type(df.sido == '주소')
seven_df = df

In [183]:
seven_df['company'] = 'seven'

In [184]:
seven_df

,name,address,치킨,고구마·붕어빵,무인락커,소프트아이스크림,페덱스서비스,ATM,시디,무인택배접수,스마트픽,의약품,24시간,베이커리,카페,토토,예약주문,sido,company
0,강릉5주공점,강원도 강릉시 월대산로 43,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0,강원도,seven
1,강릉강문스타점,강원도 강릉시 창해로350번길 21 (강문동),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,강원도,seven
2,강릉강문점,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)",0,0,0,0,1,0,0,1,1,1,1,0,1,0,0,강원도,seven
3,강릉강변로점,강원도 강릉시 강변로 262,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,강원도,seven
4,강릉경포그린점,"강원도 강릉시 경포로463번길 37, 제2호",0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,강원도,seven
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12867,충주터미널점,충청북도 충주시 봉계1길 49,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,충청북도,seven
12868,충주푸르지오점,"충청북도 충주시 봉계8길 2 , 1층",0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,충청북도,seven
12869,충주호암점,충청북도 충주시 호암중앙2로 32 101호(호암동),1,0,0,0,1,0,1,1,1,1,1,0,1,0,1,충청북도,seven
12870,충주호암LH점,충청북도 충주시 호암수청2로 56,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,충청북도,seven
12871,충주힐스테이트점,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)",0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,충청북도,seven

In [189]:
seven_melt = pd.melt(seven_df,id_vars=['company','name','sido','address'])

GS25 start

In [173]:
with open('./gs25.pkl','rb') as f:
    gs25_df = pickle.load(f)

In [193]:
gs25_df= gs25_df[~gs25_df.shopName.duplicated()]

In [210]:
gs25_df = gs25_df[['shopName','address','offeringService', 'shopCode', 'longs', 'lat']]

In [211]:
gs25_df['sido'] = gs25_df['address'].apply(lambda x : x.split()[0])

In [212]:
for key, values in sido_dict.items():
    gs25_df.sido = gs25_df.sido.apply(lambda x : values if key in x else x)

In [224]:
gs25_df = gs25_df.rename(columns={'shopName':'name'})

In [219]:
gs25_df['company'] = 'gs25'

In [241]:
gs_servelit = set()
for x in gs25_df['offeringService']:
    if type(x) != float:
        gs_servelit.update(x)

In [248]:
for service in gs_servelit:
    gs25_df[service] = gs25_df.offeringService.apply(lambda x: 1 if type(x) != float and service in x else 0)

In [249]:
gs25_df

,name,address,offeringService,shopCode,longs,lat,sido,company,parcel_service,post,...,smart_atm,toto,potatoes,self_cook,cafe25,drug,withdrawal,tax,cardiac_defi,fish_shaped_bun
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)","[toto, cafe25, post, withdrawal, parcel_service]",V3414,37.51826292,126.76388845,경기도,gs25,1,1,...,0,1,0,0,1,0,1,0,0,0
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)","[cafe25, drug, post, atm, withdrawal, smart_at...",VX815,38.00414846,128.73283627,강원도,gs25,1,1,...,1,0,0,0,1,1,1,0,0,0
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)","[post, parcel_service]",VQ037,37.52831065,126.87486792,서울특별시,gs25,1,1,...,0,0,0,0,0,0,0,0,0,0
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)","[cafe25, potatoes, fish_shaped_bun]",V7W76,36.44932895,127.40708036,대전광역시,gs25,0,0,...,0,0,1,0,1,0,0,0,0,1
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",NaN,V6Z47,37.69488283,126.84958684,경기도,gs25,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,V1880,37.56433789,127.02961475,서울특별시,gs25,0,0,...,0,0,0,0,0,0,0,0,0,0
75,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1)",NaN,V1882,37.50287602,126.9802623,서울특별시,gs25,0,0,...,0,0,0,0,0,0,0,0,0,0
76,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)","[drug, post, withdrawal, tax, parcel_service]",VW993,37.59431984,127.05231488,서울특별시,gs25,1,1,...,0,0,0,0,0,1,1,1,0,0
77,나만의냉장고,서울 강남구 논현로508 (역삼동 679),NaN,V1355,37.50208899,127.03678844,서울특별시,gs25,0,0,...,0,0,0,0,0,0,0,0,0,0
78,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,V9A20,37.2775307,127.52197076,경기도,gs25,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
gs25_melt = pd.melt(gs25_df,id_vars=['company','name','sido','address'])

In [59]:
import pymysql
host='192.168.90.103'
user='david'
password='392766'
db='encore'
charset='utf8'
con =pymysql.connect(host=host,user=user,password=password,db=db,charset=charset)
cur = con.cursor()

In [58]:
import sqlalchemy
from urllib import parse
user = 'david'
password = '392766'
host='192.168.90.103'
port = 3306
database = 'encore'
password = parse.quote_plus(password)

engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [44]:
import pickle
with open('./conveni_total_df.pkl','rb') as f:
    total_df = pickle.load(f)

In [45]:
total_df.store_tel = total_df.store_tel.replace("",None)

In [48]:
total_df.where(pd.notnull(total_df), None,inplace=True)

In [50]:
total_df.available = total_df.available.astype(int)

In [75]:
pd.DataFrame([True]).values

array([[ True]])

In [67]:
total_df.iloc[0].values

array(['CU', '가평군청점', '경기도', '0315817570', None, None, None, None,
       '경기도 가평군 가평읍 석봉로 175, (읍내리) 1호', 'coffee', 1], dtype=object)

In [60]:
sql = "INSERT INTO store VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [53]:
cur.execute(sql,total_df.iloc[0].values.tolist())

1

In [61]:
from tqdm import tqdm
for idx, row in tqdm(total_df.iterrows()):
    cur.execute(sql,row.tolist())

640498it [03:50, 2779.17it/s]

In [63]:
con.commit()

In [13]:
import pandas as pd
pd.notnull(total_df)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,True,True,True,True,False,False,False,False,True,True,True
1,True,True,True,True,False,False,False,False,True,True,True
2,True,True,True,True,False,False,False,False,True,True,True
3,True,True,True,True,False,False,False,False,True,True,True
4,True,True,True,True,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
186115,True,True,True,False,False,True,True,True,True,True,True
186116,True,True,True,False,False,True,True,True,True,True,True
186117,True,True,True,False,False,True,True,True,True,True,True
186118,True,True,True,False,False,True,True,True,True,True,True
186119,True,True,True,False,False,True,True,True,True,True,True

['CU',
 '가평군청점',
 '경기도',
 '0315817570',
 nan,
 nan,
 nan,
 nan,
 '경기도 가평군 가평읍 석봉로 175, (읍내리) 1호',
 'coffee',
 True]