In [1]:
import pickle
import pandas as pd

In [6]:
with open('./kbo_detail.pkl','rb') as f:
    kbo_df = pickle.load(f)

In [7]:
kbo_df

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,team
0,강재민,No.,1997년 04월 03일,투수(우언우타),180cm/89kg,양덕초-마산중-용마고-단국대,8000만원,14500만원,20 한화 2차 4라운드 38순위,20한화,한화 이글스
1,권광민,No.17,1997년 12월 12일,외야수(좌투좌타),189cm/102kg,서울청구초-홍은중-장충고,,3300만원,22 한화 2차 5라운드 41순위,16시카고컵스,한화 이글스
2,권동욱,No.02,2001년 01월 08일,외야수(우투우타),173cm/85kg,가동초-휘문중-배명고-동국대,,3000만원,24 한화 육성선수,,한화 이글스
3,권현,No.111,2005년 02월 23일,외야수(우투우타),182cm/88kg,사당초-언북중-장충고,3000만원,3000만원,24 한화 10라운드 91순위,,한화 이글스
4,김강민,No.9,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK-SSG,11000만원,11000만원,01 SK 2차 2라운드 18순위,01SK,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...
839,한민우,No.96,1999년 04월 27일,투수(좌투좌타),177cm/82kg,동일중앙초-경남중-경남고,1000만원,3000만원,23 KT 육성선수,,KT 위즈
840,한차현,No.59,1998년 11월 30일,투수(우투우타),180cm/80kg,사능초(남양주리틀)-청원중-포항제철고-성균관대,10000만원,3100만원,21 KT 2차 2라운드 15순위,21KT,KT 위즈
841,홍현빈,No.31,1997년 08월 29일,외야수(우투좌타),174cm/70kg,수원신곡초-매송중-유신고-KT-상무,9000만원,4500만원,17 KT 2차 3라운드 21순위,17KT,KT 위즈
842,황의준,No.103,2002년 04월 06일,외야수(우투좌타),185cm/95kg,칠성초-경복중-경북고-수성대,4000만원,3000만원,23 KT 8라운드 80순위,,KT 위즈
843,황재균,No.10,1987년 07월 28일,내야수(우투우타),183cm/96kg,사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,6000만원,100000만원,06 현대 2차 3라운드 24순위,06현대,KT 위즈

In [8]:
kbo_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
839    False
840    False
841    False
842    False
843    False
Length: 844, dtype: bool

In [10]:
kbo_df.loc[2,'권혁']

선수명                    권동욱
등번호                  No.02
생년월일         2001년 01월 08일
포지션              외야수(우투우타)
신장/체중           173cm/85kg
경력         가동초-휘문중-배명고-동국대
입단 계약금
연봉                  3000만원
지명순위            24 한화 육성선수
입단년도
team                한화 이글스
Name: 2, dtype: object

In [13]:
kbo_df.set_index('선수명').loc[' 강재민','포지션']

' 투수(우언우타)'

In [16]:
kbo_df.선수명= kbo_df['선수명'].apply(lambda x : x.strip())

In [20]:
mask = (kbo_df.연봉.str.find('달러') > -1)

,0,1,2,3,4,5,6,7,8,9,...,경력,등번호,생년월일,선수명,신장/체중,연봉,입단 계약금,입단년도,지명순위,포지션
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
a = pd.DataFrame({'col1':[1,2,3,4], 'col2':[2,3,4,5]})

In [25]:
b = a

In [27]:
b.loc[1,'col2'] = 101

In [95]:
import requests
payload = {"ajax": "true",
"curCd": "",
"tmpInqStrDt": "2024-04-03",
"pbldDvCd": "0",
"pbldSqn": "",
"hid_key_data": "",
"inqStrDt": "20240403",
"inqKindCd": "1",
"hid_enc_data": "",
"requestTarget": "searchContentDiv",}

url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

a = requests.post(url,data=payload)

In [42]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Downloading lxml-5.2.1-cp310-cp310-manylinux_2_28_x86_64.whl (5.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 9.8 MB/s eta 0:00:00:00:0100:01
Installing collected packages: lxml
Successfully installed lxml-5.2.1
Note: you may need to restart the kernel to use updated packages.

In [101]:
hana = pd.read_html(a.text)[0]

/tmp/ipykernel_1057/3927227027.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  hana = pd.read_html(a.text)[0]

컬럼을 변경할 때는 일대일 대응이 될 수 있도록 개수를 맞춰줘야 한다.

In [102]:
hana.columns = [ "_".join(x[:2]) for x in hana.columns]

In [113]:
def get_exchange(code_="USD", date_ = None):
    return float(hana.loc[hana['통화_통화'].str.find(f'{code_.upper()}')> -1,'현찰_파실 때'].iloc[0,0])

In [115]:
get_exchange("jpy")

873.08

In [124]:
import requests
from datetime import date, datetime
import pandas as pd

url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

a = requests.post(url,data=payload)
ex = pd.read_html(a.text)[0]
ex.columns = [ "_".join(x[:2]) for x in ex.columns]

def get_exchange(code_="USD", date_ = None):``
    """
    code_ = 통화코드
        예)'USD'
    date_ = 예) "2024-01-01"
    """
    try:
        datetime.strptime(date_,"%Y-%m-%d")
    except:
        print("X")
        date_ = str(date.today())
    payload = {"ajax": "true",
            "curCd": "",
            "tmpInqStrDt": "2024-01-02",
            "pbldDvCd": "0",
            "pbldSqn": "",
            "hid_key_data": "",
            "inqStrDt": "20240102",
            "inqKindCd": "1",
            "hid_enc_data": "",
            "requestTarget": "searchContentDiv",}
    payload["tmpInqStrDt"] = date_
    payload['inqStrDt'] = date_.replace("-","")
    url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"
    ex = pd.read_html(requests.post(url,data=payload).text)[0]
    ex.columns = [ "_".join(x[:2]) for x in ex.columns]
    return float(ex.loc[ex['통화_통화'].str.find(f'{code_.upper()}')> -1,'현찰_파실 때'].iloc[0,0])

/tmp/ipykernel_1057/921718638.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ex = pd.read_html(a.text)[0]

In [125]:
get_exchange('jpy',"1")

X

/tmp/ipykernel_1057/921718638.py:34: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ex = pd.read_html(requests.post(url,data=payload).text)[0]

879.51

In [132]:
import hana
hana.get_exchange()

X

/home/david/workspace/hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  "inqKindCd": "1",

1329.82

In [127]:
import sys

In [128]:
sys.path

['/home/david/workspace',
 '/usr/lib/python310.zip',
 '/usr/lib/python3.10',
 '/usr/lib/python3.10/lib-dynload',
 '',
 '/home/david/.local/lib/python3.10/site-packages',
 '/usr/local/lib/python3.10/dist-packages',
 '/usr/lib/python3/dist-packages']

In [133]:
import hana
hana.get_exchange()

X

/home/david/workspace/hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  "inqKindCd": "1",

1329.92

In [134]:
from hana import get_exchange
get_exchange()

X

/home/david/workspace/hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  "inqKindCd": "1",

1329.92

In [ ]:
for s in hana[]

In [137]:
dict1 = {x1.split()[0] : x1.split()[1] for x1 in ex['통화_통화']}

In [176]:
kbo2= kbo_df[kbo_df['연봉'].str.find("달러") > -1].copy()
kbo3= kbo_df[~kbo_df['연봉'].str.find("달러") > -1].copy()

In [177]:
get_exchange('usd')
a = get_exchange('usd','2024-01-02')
kbo2['연봉']= kbo2['연봉'].apply(lambda x : int(int(x.replace("달러","")) * float(a)/1000))

X

/home/david/workspace/hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  "inqKindCd": "1",
/home/david/workspace/hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  "inqKindCd": "1",

In [178]:
kbo2.sort_values(by=['연봉(만원)'], ascending=False)

KeyError: '연봉(만원)'

In [179]:
kbo3.shape

(814, 11)

In [168]:
(kbo3['연봉'].str.find('만원') > -1)

0      True
1      True
2      True
3      True
4      True
       ...
839    True
840    True
841    True
842    True
843    True
Name: 연봉, Length: 814, dtype: bool

In [180]:
kbo3.연봉 = kbo3.연봉.apply(lambda x :  int(x.replace("만원","").strip()) if x.replace("만원","").strip() != "" else 0).copy()

In [181]:
kbo3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 814 entries, 0 to 843
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   선수명     814 non-null    object
 1   등번호     814 non-null    object
 2   생년월일    814 non-null    object
 3   포지션     814 non-null    object
 4   신장/체중   814 non-null    object
 5   경력      814 non-null    object
 6   입단 계약금  814 non-null    object
 7   연봉      814 non-null    int64
 8   지명순위    814 non-null    object
 9   입단년도    814 non-null    object
 10  team    814 non-null    object
dtypes: int64(1), object(10)
memory usage: 76.3+ KB

In [183]:
final = pd.concat([kbo2,kbo3])

In [185]:
final.groupby(['team'])[['연봉']].mean().sort_values(by = ['연봉'],ascending=False)

                    연봉
team
키움 히어로즈   61656.677966
LG 트윈스    51133.621622
SSG 랜더스   50853.679012
KT 위즈     46897.655172
삼성 라이온즈   43879.858824
롯데 자이언츠   42743.905882
두산 베어스    41889.095238
한화 이글스    34830.322581
KIA 타이거즈  32129.857143
NC 다이노스   31588.561798
고양 히어로즈    2956.521739

In [281]:
import os
import pandas as pd
if not os.path.isdir('./man'):
    os.mkdir('./man')
if not os.path.isdir('./woman'):
    os.mkdir('./woman')
a = pd.DataFrame([dict(zip(['이름','생년월일','성별','파일'], x.split("_") + [x])) for x in os.listdir('./tmp')])
b = {'남성':[], '여성':[]}
for x in a[a.성별.apply(lambda x : int(x[0]) % 2 == 0)]['파일'].values:
    with open('./tmp/'+x,'r') as f:
        f2 = open('./woman/'+x,'w')
        t1 = f.read()
        f2.write(t1)
        b['여성'].append(int(t1.replace(",","")))
        f2.close()
for x in a[~a.성별.apply(lambda x : int(x[0]) % 2 == 0)]['파일'].values:
    with open('./tmp/'+x,'r') as f:
        f2 = open('./man/'+x,'w')
        t2 = f.read()
        f2.write(t2)
        b['남성'].append(int(t2.replace(",","")))
        f2.close()

In [282]:
count = len(b['남성']) - len(b['여성'])
if count > 0:
    b['여성'] += [0] * count
else:
    b['남성'] += [0] * (-count)
final2 = pd.DataFrame([{'남성': x , '여성': y} for x,y in zip(b['남성'],b['여성'])])
final2.to_csv("./report.csv",index=False,encoding='utf-8-sig')

In [285]:
final2.mean()

남성    1.186690e+07
여성    1.280237e+07
dtype: float64

In [228]:
ab

,남성,여성
0,"[10,251, 83,057, 11,812, 8,832,673, 16,807,288...","[1,174, 2,128,655, 379, 7,680, 690,788, 33,511..."

In [206]:
#성별 변환
a['성별']= a['성별'].apply(lambda x : '남성'if int(x[0]) %2 == 0 else '여성')

In [202]:
a

       이름      생년월일           성별
0     강가연  19961123  3xxxxxx.txt
1     강가인  19710304  1xxxxxx.txt
2     강가희  19600922  4xxxxxx.txt
3     강건영  19750611  1xxxxxx.txt
4     강건영  19950614  3xxxxxx.txt
...   ...       ...          ...
9995  황효은  19650129  4xxxxxx.txt
9996  황효은  19980323  2xxxxxx.txt
9997  황효재  19680617  2xxxxxx.txt
9998  황효정  19940303  1xxxxxx.txt
9999  황희예  19700320  4xxxxxx.txt

[10000 rows x 3 columns]